.card {
    /* padding: 30px; */
    width: 80%;
    height: 60%;
    margin: auto;
    background-color: black;
    opacity: .8;
}

.card p {
    color: white;
    font-size: 18px;
}

.card h1 {
    color: white;
    padding-top: 10px;
}

.card-body {
    margin: auto;
}

.AboutMeBox {
    padding-top: 80px;
    margin: auto;
}

.introText {
    padding-top: 10px;
}

#abtPic {
    border-radius: 10%;
}

#pic-hold {
    width: 100%;
    padding-right: 10px;
}

#content-hold {
    width: 100%;
    padding-left: 30px;
}